<html xmlns:th="http://www.thymeleaf.org">
<!-- <header> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
	<div class="container">
		<a class="navbar-brand" th:href="@{/cms}">Love & Share(CMS)</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
	
		<div class="collapse navbar-collapse" id="navbarsExample07">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdownuser" data-bs-toggle="dropdown" aria-expanded="false">用戶管理</a>
					<ul class="dropdown-menu" aria-labelledby="dropdownuser">
						<li><a class="dropdown-item" th:href="@{/cms/user/users}">用戶列表</a></li>
						<li><a class="dropdown-item" th:href="@{/cms/user/role}">用戶權限管理</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdownuser" data-bs-toggle="dropdown" aria-expanded="false">徵求管理</a>
					<ul class="dropdown-menu" aria-labelledby="dropdownuser">
						<li><a class="dropdown-item" th:href="@{/cms/wish/wishes}">徵求列表</a></li>
						<li><a class="dropdown-item" th:href="@{/cms/wish/category}">徵求類別管理</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" aria-current="page" th:href="@{/cms/give/list}">捐贈管理</a>
				</li>
			</ul>
        	<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        		<li class="nav-item">
	              	<a class="nav-link">
					  <form th:action="@{/logout}" method="post">
					  <span>Hello!</span>
					  <b><span sec:authentication="name"></span></b>
	<!-- 					登入後帳號名稱表現方式1: [[${#request.userPrincipal.name}]] -->
	<!-- 					登入後帳號名稱表現方式2: <span sec:authentication="name"></span> -->
	<!-- 					<span sec:authentication="principal.authorities">Role</span> -->
					  <input type="submit" value="登出" />
					  </form>
					</a>              
            	</li>
        	</ul>
			<!-- <form>
				<input class="form-control" type="text" placeholder="Search" aria-label="Search">
			</form> -->
		</div>
	</div>
</nav>
<!-- </header> -->
</html>