<html xmlns:th="http://www.thymeleaf.org">
<!-- <header> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Eighth navbar example">
	<div class="container">
		<a class="navbar-brand" th:href="@{/cms}">
			<span>Love & Share(CMS)</span>
		</a>
		<div class="collapse navbar-collapse" id="navbarsExample07">
			<!-- 靠左 -->
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown" th:href="@{/}">前台</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown_link1" data-bs-toggle="dropdown" aria-expanded="false">用戶管理</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown_link1">
						<li><a class="dropdown-item" th:href="@{/cms/user/users}">用戶列表</a></li>
						<li><a class="dropdown-item" th:href="@{/cms/user/role}">用戶權限管理</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown_link2" data-bs-toggle="dropdown" aria-expanded="false">徵求管理</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown_link2">
						<li><a class="dropdown-item" th:href="@{/cms/wish/wishes}">徵求列表</a></li>
						<li><a class="dropdown-item" th:href="@{/cms/wish/category}">徵求類別管理</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown_link3" data-bs-toggle="dropdown" aria-expanded="false">捐贈管理</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown_link3">
						<li><a class="dropdown-item" th:href="@{/cms/give/list}">捐贈列表</a></li>
					</ul>
				</li>
			</ul>
			<!-- 靠右 -->
        	<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown" href="#" id="dropdown_user" data-bs-toggle="dropdown" aria-expanded="false">
						<span>Hello!</span>
						<span class="fw-bold" sec:authentication="name"></span>
						<i class="fa fa-caret-down" aria-hidden="true"></i>
					</a>
            		<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown_user">
            			<li><a class="dropdown-item" th:href="@{/cms/give/list}">去前台</a></li>
            			<li>
							<form th:action="@{/logout}" method="post">
				            <button class="dropdown-item" type="submit">登出</button>              
							</form>
            			</li>
            		</ul>
				</li>
        	</ul>
		</div>
	</div>
</nav>
<!-- </header> -->
</html>