<html xmlns:th="http://www.thymeleaf.org">
<!-- <footer class="footer mt-auto py-5"> -->
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h4>Love & Share 愛雪兒</h4>
        <p>每一位來到愛雪兒的你，都是雪中送炭的雪天使！</p>
        <span class="cc0">&copy; 2021 form NTUT Extension Education Center Java016 six team. </span>
      </div>
      <div class="col-sm-3">
        <h4>Service</h4>
        <ul>
          <li><a th:href="@{/about/loveandshare}">關於我們</a></li>
          <li><a th:href="@{/about/qa}">問與答</a></li>
          <li><a th:href="@{/about/agreement}">使用者條款</a></li>
          <li><a th:href="@{/about/privacy}">隱私權政策</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <h4>Our Team</h4>
        <ul>
          <li><a href="#">Kandy Shen</a></li>
          <li><a href="#">YuShanCh</a></li>
          <li><a href="#">aay10839</a></li>
          <li><a href="#">winnie1957</a></li>
        </ul>
      </div>
    </div>
  </div>
<!-- </footer> -->
</html>