<html xmlns:th="http://www.thymeleaf.org">
<!-- <header> -->
  <nav class="navbar navbar-expand-lg navbar-primary bg-primary" aria-label="Ninth navbar example">
    <div class="container-xl">
      <!-- 首頁字/Logo -->
      <a class="navbar-brand" th:href="@{/}">
        <img width="32" height="32" src="../brand/loveandshare_logo-white.svg" alt="logo">
        <span>&nbsp;Love & Share</span>
      </a>
      <!-- 漢堡選單 -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#header-nav-toggler" aria-controls="header-nav-toggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- 連結 -->
      <div class="collapse navbar-collapse" id="header-nav-toggler">
        <!-- 靠左連結 -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/about/loveandshare}">關於我們</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/wishes}">我要捐贈物資</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/wish/create}">我要徵求物資</a>
          </li> 
        </ul>
        <!-- 靠右icon -->
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <!-- 搜尋 -->
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="dropdown_search" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-search" aria-hidden="true"></i></a>
<!--             <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdown_search"> -->
<!--               <form class="d-flex input-group" aria-labelledby="dropdown_search"> -->
<!--                 <input type="text" class="form-control" placeholder="search..." aria-label="" aria-describedby="search"> -->
<!--                 <button class="btn btn-outline-secondary" type="button" id="Search"><i class="fa fa-search" aria-hidden="true"></i></button> -->
<!--               </form>               -->
<!--             </ul> -->
          </li>
          <!-- 會員 -->
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="dropdown_user" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa fa-user-circle" aria-hidden="true"></i>
              <span class="fw-bold ps-2" sec:authorize="isAuthenticated()" sec:authentication="name"></span>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" sec:authorize="isAuthenticated()" aria-labelledby="dropdown_user">
<!--               <li> -->
<!--               	<a class="dropdown-item"> -->
<!-- 				  <form th:action="@{/logout}" method="post"> -->
<!-- 				    <span>Hello!</span> -->
<!-- 				    <b><span sec:authentication="name"></span></b> -->
<!-- 					登入後帳號名稱表現方式1: [[${#request.userPrincipal.name}]] -->
<!-- 					登入後帳號名稱表現方式2: <span sec:authentication="name"></span> -->
<!-- 					<span sec:authentication="principal.authorities">Role</span> -->
<!-- 				    <input type="submit" value="登出" /> -->
<!-- 				  </form> -->
<!-- 				</a>               -->
<!--               </li> -->
              <li sec:authorize="hasAuthority('user')"><a class="dropdown-item" th:href="@{/user/profile}">會員專頁</a></li>
              <li sec:authorize="hasAuthority('user')"><a class="dropdown-item" th:href="@{/user/record_give}">捐贈紀錄</a></li>
              <li sec:authorize="hasAuthority('user')"><a class="dropdown-item" th:href="@{/user/record_wish}">徵求記錄</a></li>
              <li sec:authorize="hasAuthority('admin')"><a class="dropdown-item" th:href="@{/cms}">後臺管理</a></li>
              <li>
				<form th:action="@{/logout}" method="post">
				  <button class="dropdown-item" type="submit">登出</button>
				</form>
              </li>
            </ul>
            <ul class="dropdown-menu dropdown-menu-end" sec:authorize="!isAuthenticated()" aria-labelledby="dropdown_user">
              <li><a class="dropdown-item" th:href="@{/signup}">註冊</a></li>
              <li><a class="dropdown-item" th:href="@{/signin}">登入</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- </header> -->
</html>