/* html,
body {
    height: 100%;
    border: 1px solid red;
} */
.layoutLeft{
    width: 50%;
    height:auto;
    border: 1px solid red;
}
.layoutRight{
    width: 50%;
    height:auto;
    border: 1px solid red;
    /* padding-left: 50%; */
}
.layoutImg{
    width: 50%;
    height: 60%;
    border: 1px solid red;
}
.layoutMain{
    width: 100%;
    height:85%;
    border: 1px solid red;
    padding-left:3%;
}
.layoutDown{
    width: 100%;
    height:auto;
    border: 1px solid red;
    padding-left:3%;
    padding-right:3%;
}
.goodDetailDistance{
    margin-top: 3%;
}
.imgFrame{
    width: 100%;
    height: 100%;
}
.goodDetailBlue{
    color:	#66B3FF;
}
.cardPostion{
    margin-top: -100px ;
}

