.size{
    width: 70%;
    height: auto;
    /* border: 1px solid red; */
    margin:0px auto;
}
.distance{
    margin-top: 10px;
}
.distanceDown{
    margin-bottom: 10px;
}
.longDistance{
    margin-top: 3%;
}
.lessDistance{
    margin-top: 5px;
}
.paddingDistance{
    padding-top: 10px;
}

.buttonStyle{
    width: 45%;
}

.buttonStyle2{
    width: 15%;
}

.buttonStyle3{
    width:10%;
}
.right{
    float: right;
}

.wordStyle{
    color: white;
}

.display{
    overflow:hidden;
}

.textMid{
    text-align: center;
}
.textRight{
    text-align: right;
}

.img2LeftPostion{
    padding-left: 8%;
}
.img2RightPostion{
    padding-left: 25%;
}
.gray{
    color:#BEBEBE !important;
}
.bgColorGray{
    background-color: #f7f7f8;
}
.bgColorWhite{
    background-color: white;
}
.displayFlex{
    display: flex;    
}
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
     }
    }
header{
    width: 100%;
    position:sticky;
    top: 0%;
    z-index: 99;
}
footer{
    width: 100%;
    position:fixed;
    bottom: 0%;
    z-index: 99;
}
.recordStyle{
    width: auto;
    height: 250px;
    border:1px solid red;

}
