@import "bootstrap5/bootstrap.scss";

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

@import "stylesheet/header";
@import "stylesheet/footer";
@import "stylesheet/components";
@import "stylesheet/pages/sign";
@import "stylesheet/pages/wishlist";
@import "stylesheet/pages/wishdetails";

